<h3>Join the discussion</h3>
<%= form_for [ @article, @comment ] do |f| %>
  <p><%= f.text_field :author_name, placeholder: "Enter Name" %></p>
  <p><%= f.text_area :body, placeholder: "Join the discussion...", rows: 5 %></p>
  <p><%= f.submit "Share" %></p>
<% end %>
